.card {
  width: 100%;
  max-width: var(--layout-cardMaxWidth);

  background-color: var(--color-cardBackground);

  border-radius: var(--layout-cardBorderRadius);

  padding-block: clamp(
    var(--layout-cardPaddingMobile),
    6vw,
    var(--layout-cardPadding)
  );
  padding-inline: max(
    var(--layout-cardMinHorizontalPadding),
    clamp(
      var(--layout-cardMinHorizontalPadding),
      4vw,
      var(--layout-cardPadding)
    )
  );

  border: var(--layout-cardBorderWidth) solid var(--color-borderSubtle);

  box-sizing: border-box;

  box-shadow: var(--shadow-card);
}
