.card {
  width: 100%;
  max-width: var(--layout-cardMaxWidth);
  min-width: var(--layout-cardMinWidth);

  background-color: var(--color-cardBackground);

  border-radius: var(--layout-cardBorderRadius);

  padding: var(--layout-cardPadding);

  border: 1px solid var(--color-borderSubtle);

  box-sizing: border-box;

  box-shadow: var(--shadow-card);
}
